
<div class="container">
	<div class="page-header">
	  <h1>Tugas Training CRUD Image  <%= link_to "Upload Image", {:controller => "images", :action => "new" }, :class => "btn btn-sm btn-primary" %></h1>
	  
	</div>
		<% if flash[:notice] %>
			<div class="alert alert-success" style="margin-top:2%">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Success!</strong> <%= flash[:notice] %>
			</div>
		<% end %>


			<% @images.each do | img | %>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
	<div class = "panel" style="width:150px" align = "center">
			<div class = "list-group-item" style="width:150px" align = "center">
			<a href="<%= image_path(img.id) %>">
		  	<figure>
		  		<%= image_tag img.image.url(:thumb) if img.image? %>
			</a>
				<figcaption>Title:<%= img.img_name %><figcaption>
			</figure>
			<%= link_to 'Edit', edit_image_path(img.id), :class => "btn btn-xs btn-success" %>
				<%= link_to 'Delete', image_path(img.id), method: "DELETE", data: {confirm: 'Delete image ? '}, :class => "btn btn-xs btn-danger" %>	
			
			</div>	
	</div>
</div>
			<% end %>
	

